$alert-danger-background-color: #ef0a56 !default;
$alert-danger-border-color: #ff0000 !default;
$alert-danger-color: #ff7986 !default;

.alert-danger {
    background-color: $alert-danger-background-color;
    border-color: $alert-danger-border-color;
    color: $alert-danger-color;
}
